.contact-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
      position: relative;
      left: 10px;

    }

    p {
      color: #fff;
      font-size: 13px;
    }

    .text-animate-hover {
      &:hover {
        color: #fff;
      }
    }
  }

  .contact-form {
    width: 100%;
    margin-top: 20px;

    .input-group {
      display: flex;
      justify-content: flex-start;

      input {
        width: 40%;
        margin-left: 2%;

        &:first-child {
          margin-left: 0;
        }
      }
    }
    
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: #115173;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      margin-bottom: 10px;
      font-family: 'Helvetica Neue', sans-serif;
    }

    textarea {
      width: 100%;
      border: 0;
      background: #115173;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 20px;
      min-height: 150px;
      font-family: 'Helvetica Neue', sans-serif;
    }
      
  }

  .info-map {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    top: 10px;
    right: 10px;
    z-index: 99999;
    width: 200px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
      font-size: 17px;
      display: block;
      padding-top: 20px;
      color: #ffd700;
    }
  }

  .map-wrap {
    background: rgba(8,253,216,0.1);
    float: right;
    width: 53%;
    height: 100%;
    position: relative;
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
  }
}